.great{
    width: 500px;
    height: 200px;
    border: 10px solid maroon;
    padding: 50px;
    margin: 50px;
    border-style: inset;
    outline: rebeccapurple solid 40px;
    background-color: azure;
    outline-offset: 5px;
}

h1{
    text-shadow: 3px 3px 5px magenta;
}
div{
    margin: 0px;
    padding: 0px;
    display: inline-block;
    width: 33%;
    height: 500px;
}
.one{
    background-color: blueviolet;
}
.two{
    background-color: maroon;
}
.three{
    background-color: powderblue;
}