.great{
    width: 500px;
    height: 200px;
    border: 10px solid maroon;
    padding: 50px;
    margin: 50px;
    border-style: inset;
    outline: rebeccapurple solid 40px;
    background-color: azure;
    outline-offset: 5px;
}

h1{
    text-shadow: 3px 3px 5px magenta;
}
/* div{
    margin: 0px;
    padding: 0px;
    display: inline-block;
    min-width: 30%;
    height: 500px;
    position: absolute;
    padding: 2px;
} */
.one{
    background-color: blueviolet;
    overflow: auto;
    max-width: 430px;
}
.two{
    background-color: maroon;
    right: 33%;
    max-width: 430px;
    clip: auto;
    overflow: scroll;
}
.three{
    background-color: powderblue;
    top: 0 right;
    right: 1%;
    max-width: 430px;
    clip: auto;
    overflow: scroll;
}
.flex{
    display: flex;
    flex-wrap: nowrap;
    background-color: aquamarine;
}
.flex .box{
    background-color: maroon;
    width: 50%;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
  }
  body {
    background-color:white;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #38444d;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }