.great{
    width: 500px;
    height: 200px;
    border: 10px solid maroon;
    padding: 50px;
    margin: 50px;
    border-style: inset;
    outline: rebeccapurple solid 40px;
    background-color: azure;
    outline-offset: 5px;
}

h1{
    text-shadow: 3px 3px 5px magenta;
}
div{
    margin: 0px;
    padding: 0px;
    display: inline-block;
    min-width: 30%;
    height: 500px;
    position: absolute;
    padding: 2px;
}
.one{
    background-color: blueviolet;
    overflow: auto;
    max-width: 430px;
}
.two{
    background-color: maroon;
    right: 33%;
    max-width: 430px;
    clip: auto;
    overflow: scroll;
}
.three{
    background-color: powderblue;
    top: 0 right;
    right: 1%;
    max-width: 430px;
    clip: auto;
    overflow: scroll;
}